.main {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem;
  justify-content: center;
  gap: 2.5rem;
}

.hero {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__title {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  column-gap: 1ch;
  row-gap: 0.5rem;
}

.hero__description {
  font-size: 1.2rem;
  text-align: justify;
}

.hero__links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.25rem;
}

.hero__links > [role="listitem"] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 2px solid var(--color-neutral-300);
}

.emphasis {
  border-bottom: 2px dashed var(--color-primary);
}

.headshot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshot__circle {
  --glow-color: #ff00b5;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: radial-gradient(var(--color-primary), var(--glow-color));
  box-shadow: 0px 0px 28px 5px var(--glow-color);
}

.headshot__image {
  z-index: 2;
}

.headshot__name {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--color-bg);
  z-index: 3;
}

.headshot__name--green {
  color: var(--color-green);
}
